$black: #2b2a29;
$header-color-text: #ffffff;
$dark-bg-gray-color: #919191;

@mixin container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

@mixin box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05);
}